<%= form_with(model: pokemon, local: true) do |form| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <% if form.object.image? %>
      <%= image_tag form.object.image.thumb.url %>
      <%= form.label :remove_image %>
      <%= form.check_box :remove_image %> 
    <% end %>
  </div>
    <div class="field">

    <%= form.label :name %>
    <%= form.text_field :name, id: :pokemon_name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :feet %>
    <%= form.text_field :feet, class: 'form-control' %>
  </div>
    <div class="field">
    <%= form.label :inches %>
    <%= form.text_field :inches, class: 'form-control' %>
  </div>
    <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight, class: 'form-control' %>
  </div>
  <h2>Species</h2>
    <%= form.text_field :specy, class: 'form-control' %>
  <h2>Type</h2> 

   <%= hidden_field_tag "pokemon[type_ids][]", nil %>
        <% Type.order('name ASC').each do |type| %>
          <%= check_box_tag "pokemon[type_ids][]", type.id, @pokemon.type_ids.include?(type.id), id: dom_id(type) %>
          <%= label_tag dom_id(type), type.name %> 
          <br />

        <% end %>

        <h2>Abilities</h2> 
          <%= form.fields_for :capabilities do |capabilities| %>
            <%= render 'capability_fields', form: capabilities %>
          <% end %>

            <div class="links">
              <%= link_to_add_association "Add Ability", form, :capabilities %>
            </div>

  <div class="actions">
    <%= form.submit "Create Pokemon", class: 'btn btn-primary' %>
  </div>
<% end %>
