<%= form_with(model: pokemon, local: true) do |f| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">

    <h2><%= f.label :name %></h2>
    <%= f.text_field :name, id: :pokemon_name, class: 'form-control' %>
  </div>

    
      <h2>Height & Weight</h2>
  <div class="flex">
    <%= f.label :feet %>
    <%= f.text_field :feet, class: 'form-control' %>
    <%= f.label :inches %>
    <%= f.text_field :inches, class: 'form-control' %>
    <%= f.label :weight %>
    <%= f.text_field :weight, class: 'form-control' %>
  </div>
  
  <h2>Species</h2>
    <%= f.text_field :specy, class: 'form-control' %>
       <h2>Abilities</h2> 
          <%= f.fields_for :capabilities do |capabilities| %>
            <%= render 'capability_fields', f: capabilities %>
          <% end %>

            <div class="links">
              <%= link_to_add_association "Add Ability", f, :capabilities %>
            </div>
            <br>
  <h2>Type</h2> 

   <%= hidden_field_tag "pokemon[type_ids][]", nil %>
        <% Type.order('name ASC').each do |type| %>
          <%= check_box_tag "pokemon[type_ids][]", type.id, @pokemon.type_ids.include?(type.id), id: dom_id(type) %>
          <%= label_tag dom_id(type), type.name %> 
          <br />

        <% end %>

     
    <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Create Pokemon", class: 'btn btn-primary' %>
  </div>
<% end %>
