<div class="container">
<p id="notice"><%= notice %></p>

<h1>My Pokemon Cards</h1>

<div class="flex-container">
    <% @pokemons.each do |pokemon| %>
  <div class="pokemon-box">
     <%= image_tag pokemon.image.thumb.url if pokemon.image? %>
      <h2><%= pokemon.name %></h2>

        <td><%= link_to 'Show', pokemon %></td>
        <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
        <td><%= link_to 'Delete', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div><!--/pokemon-box-->
    <% end %>
</div><!--/flex-container-->

<br>

<%= link_to 'New Pokemon', new_pokemon_path, class:'btn btn-primary' %>
</div>
