<div class="container">
<p id="notice"><%= notice %></p>


<%= link_to 'Add New Pokemon Card', new_pokemon_path, class:'btn btn-primary' %> <br><br>
<div class="flex-container">
    <% @pokemons.each do |pokemon| %>
  <div class="pokemon-box">
    <%= link_to pokemon do %>
     <%= image_tag pokemon.image.url if pokemon.image? %>
    <% end %>
      <h2><%= pokemon.name %></h2>
      <h3><% for type in pokemon.types %>
        <%= type.name %> | <% end %></h3>
      <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
        <td><%= link_to 'Delete', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </div><!--/pokemon-box-->
    <% end %>
</div><!--/flex-container-->

<br>

</div>
