<div class="container show">
<p id="notice"><%= notice %></p>
 <h1><%= @pokemon.name %></h1>

 <%= image_tag @pokemon.image.url if @pokemon.image? %>

 <div class="table table-responsive">
 	<table class="table table-striped">
 	<tr>
		<td class="narrow">Height:</td> 
		<td><%= @pokemon.feet %>' <%= @pokemon.inches %>"</td>
	</tr>
	<tr>
		<td class="narrow">Weight:</td> 
		<td><%= @pokemon.weight %> pounds</td>
	</tr>
	<tr>
		<td class="narrow">Species:</td>
		 <td><%= @pokemon.specy %></td>
	<tr>
		<td class="narrow">Types:</td>
		<td><% for @type in @pokemon.types %>
			<%= @type.name %> | 
		<% end %></td>
	</tr>
	<tr>
		<td class="narrow">Abilities:</td>
		
			<td><% for @capability in @pokemon.capabilities %><%= @capability.description %> | <% end %></td>
	
</div>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
</div>